<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wallyson.lima.mobivitool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_mobivitool"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_mobivitool"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.ZoomActivity" />
        <activity android:name=".view.TimelineActivity" />
        <activity android:name=".view.MultiLineActivity" />
        <activity android:name=".view.MapActivity" />
        <activity android:name=".view.SelectZoomActivity" />
        <activity android:name=".view.SimpleChartActivity" />
        <activity android:name=".view.SelectSimpleActivity" />
        <activity android:name=".view.SelectTimelineActivity" />
        <activity android:name=".view.SelectMultiLineActivity"></activity>
    </application>

</manifest>